<h3>{{bread.header}}</h3>
{{#each bread.types}}
    <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="{{this}}" value="{{this}}">
        <label class="form-check-label" for="{{this}}">
            {{this}}
        </label>
    </div>
{{/each}}
{{#each ingredients}}
    <h3>{{header}}</h3>
    {{#each types}}
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="{{this}}" id="{{this}}">
            <label class="form-check-label" for="{{this}}">
                {{this}}
            </label>
        </div>
    {{/each}}
{{/each}}
<button type="button" class="btn btn-outline-secondary" id="make">Make Sandwich</button>
